<h1>My Messages</h1>

<%= link_to "Send New Message", messages_new_path %>

<% if @messages.any? %>
  <div>
    <% @messages.each do |message| %>
      <div>
        <div>
          <h5>Message sent on <%= message.created_at.strftime("%B %d, %Y at %I:%M %p") %></h5>
          <small><%= message.admin_reply.present? ? "Replied" : "Awaiting reply" %></small>
        </div>
        <p><%= truncate(message.body, length: 100) %></p>
        <%= link_to "View Details", message_path(message) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>You haven't sent any messages yet.</p>
<% end %>
