<h1>Message from <%= @message.user.email %></h1>

<div>
  <div>
    Received on <%= @message.created_at.strftime("%B %d, %Y at %I:%M %p") %>
  </div>
  <div>
    <h5 >User Message:</h5>
    <p><%= simple_format(@message.body) %></p>
  </div>
</div>

<%= form_with model: [:admin, @message], local: true do |f| %>
  <div>
    <%= f.label :admin_reply, "Your Reply" %>
    <%= f.text_area :admin_reply, cla, rows: 5 %>
  </div>

  <div>
    <%= f.submit "Send Reply", class: %>
  </div>
<% end %>

<%= link_to "Back to Messages", admin_messages_path %>
