<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "T Shirts" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <div class="header">
      <div class="header-content">
        <% if user_signed_in? %>
          <i>Hello, <%= current_user.name || current_user.email %>!</i>
          <div>
            <%= link_to "My Account", edit_user_registration_path %>
            <%= link_to "Contact with Us", messages_new_path %>
            <%= link_to "My Messages", messages_index_path %>
            <%= link_to cart_path do %>
              <% if session[:cart_id] %>
                <% cart = Cart.find_by(id: session[:cart_id]) %>
                <% if cart && cart.cart_items.any? %>
                  <%= cart.total_items %>
                <% else %>
                  <%= link_to "Cart", cart_path %>
                <% end %>
              <% else %>
                <%= link_to "Cart", cart_path %>
              <% end %>
            <% end %>

            <% if current_user.admin? %>
              <%= link_to "Admin Dashboard", admin_index_path %>
              <%= link_to "Message Center", admin_messages_path %>
            <% end %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
          </div>
      <% else %>
        <%= button_to "Sign In", new_user_session_path, method: :get %>
        <%= button_to "Register", new_user_registration_path, method: :get %>
      <% end %>
      </div>
    </div>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="home-button"><%= button_to "Home", root_path, method: :get %></div>

    <%= yield %>
  </body>
</html>
